@charset "utf-8";
/* CSS Document */

.bai14{ font-size:14px !important; color:#fff !important; text-decoration:none;}
.bai14 a{ font-size:14px;  color:#fff !important; text-decoration:none;}
.bai14 a:hover{ font-size:14px; color:#c81723 !important; text-decoration:none;}

.bai40{ font-size:40px !important; color:#fff !important; text-decoration:none;}
.bai40 a{ font-size:40px;  color:#fff !important; text-decoration:none;}
.bai40 a:hover{ font-size:40px; color:#c81723 !important; text-decoration:none;}

.bai14c{ font-size:14px !important; color:#fff !important; text-decoration:none;}
.bai14c a{ font-size:14px;  color:#fff !important; text-decoration:none;}
.bai14c a:hover{ font-size:14px; color:#e6661d !important; text-decoration:none;}

.bai12c{ font-size:12px !important; color:#fff !important; text-decoration:none;}
.bai12c a{ font-size:12px;  color:#fff !important; text-decoration:none;}
.bai12c a:hover{ font-size:12px; color:#e6661d !important; text-decoration:none;}

.bai14f{ font-size:14px !important; color:#fff !important; text-decoration:none;}
.bai14f a{ font-size:14px;  color:#fff !important; text-decoration:none;}
.bai14f a:hover{ font-size:14px; color:#fff !important; text-decoration:none;}

.bai14cu{ font-size:14px; font-weight:bold; color:#fff; text-decoration:none;}
.bai14cu a{ font-size:14px; font-weight:bold; color:#fff; text-decoration:none;}
.bai14cu a:hover{ font-size:14px; font-weight:bold; color:#c81723 !important; text-decoration:none;}

.bai12cu{ font-size:12px; font-weight:bold; color:#fff; text-decoration:none;}
.bai12cu a{ font-size:12px; font-weight:bold; color:#fff; text-decoration:none;}
.bai12cu a:hover{ font-size:12px; font-weight:bold; color:#c81723 !important; text-decoration:none;}

.bai12{ font-size:12px; color:#fff; text-decoration:none;}
.bai12 a{ font-size:12px;  color:#fff; text-decoration:none;}
.bai12 a:hover{ font-size:12px;  color:#c81723 !important; text-decoration:none;}

.bai18{ font-size:18px;color:#fff; text-decoration:none;}
.bai18 a{ font-size:18px; color:#fff; text-decoration:none;}
.bai18 a:hover{ font-size:18px; color:#c81723 !important; text-decoration:none;}

.bai18f{ font-size:18px;color:#fff; text-decoration:none;}
.bai18f a{ font-size:18px; color:#fff; text-decoration:none;}
.bai18f a:hover{ font-size:18px; color:#fff !important; text-decoration:none;}

.bai22{ font-size:22px;color:#fff !important; text-decoration:none !important;}
.bai22 a{ font-size:22px; color:#fff !important; text-decoration:none !important;}
.bai22 a:hover{ font-size:22px; color:#c81723 !important; text-decoration:none !important;}

.bai20{ font-size:20px;color:#fff !important; text-decoration:none;}
.bai20 a{ font-size:20px; color:#fff !important; text-decoration:none;}
.bai20 a:hover{ font-size:20px; color:#c81723 !important; text-decoration:none;}

.bai24{ font-size:24px;color:#fff !important; text-decoration:none;}
.bai24 a{ font-size:24px; color:#fff !important; text-decoration:none;}
.bai24 a:hover{ font-size:24px; color:#c81723 !important; text-decoration:none;}

.bai36{ font-size:36px;color:#fff !important; text-decoration:none;}
.bai36 a{ font-size:36px; color:#fff !important; text-decoration:none;}
.bai36 a:hover{ font-size:36px; color:#c81723 !important; text-decoration:none;}

.hei14{ font-size:14px; color:#000 !important; text-decoration:none;}
.hei14 a{ font-size:14px; color:#000 !important; text-decoration:none;}
.hei14 a:hover{ font-size:14px;  color:#c81723 !important; text-decoration:underline;}

.hei16{ font-size:16px; color:#000; text-decoration:none;}
.hei16 a{ font-size:16px; color:#000; text-decoration:none;}
.hei16 a:hover{ font-size:16px;  color:#c81723 !important; text-decoration:none;}

.hei18{ font-size:18px; color:#000; text-decoration:none;}
.hei18 a{ font-size:18px; color:#000; text-decoration:none;}
.hei18 a:hover{ font-size:18px;  color:#c81723 !important; text-decoration:underline;}

.hei12{ font-size:12px; color:#000; text-decoration:none;}
.hei12 a{ font-size:12px; color:#000; text-decoration:none;}
.hei12 a:hover{ font-size:12px;  color:#c81723 !important; text-decoration:underline;}

.h21hei16{ font-size:16px; color:#212121; text-decoration:none;}
.h21hei16 a{ font-size:16px; color:#212121; text-decoration:none;}
.h21hei16 a:hover{ font-size:16px;  color:#212121 !important; text-decoration:underline;}

.h21hei20{ font-size:20px; color:#212121; text-decoration:none;}
.h21hei20 a{ font-size:20px; color:#212121; text-decoration:none;}
.h21hei20 a:hover{ font-size:20px;  color:#212121 !important; text-decoration:underline;}

.h21hei28{ font-size:28px; color:#212121; text-decoration:none;}
.h21hei28 a{ font-size:28px; color:#212121; text-decoration:none;}
.h21hei28 a:hover{ font-size:28px;  color:#212121 !important; text-decoration:underline;}

.hei36{ font-size:36px; color:#000; text-decoration:none;}
.hei36 a{ font-size:36px; color:#000; text-decoration:none;}
.hei36 a:hover{ font-size:36px;  color:#c81723 !important; text-decoration:underline;}

.heise20{ font-size:20px; color:#666; text-decoration:none; font-weight:bold;}
.heise20 a{ font-size:20px; color:#666; text-decoration:none; font-weight:bold;}
.heise20 a:hover{ font-size:20px;  color:#666; text-decoration:none; font-weight:bold;}

.huise12{ font-size:12px !important; color:#676767 !important; text-decoration:none;}
.huise12 a{ font-size:12px !important; color:#676767 !important; text-decoration:none;}
.huise12 a:hover{ font-size:12px !important;  color:#c81723 !important; text-decoration:none;}

.lan14{ font-size:14px; color:#2b4870; text-decoration:none;}
.lan14 a{ font-size:14px;  color:#2b4870; text-decoration:none;}
.lan14 a:hover{ font-size:14px; color:#2b4870; text-decoration:none;}

.huise14{ font-size:14px; color:#676767 !important; text-decoration:none;}
.huise14 a{ font-size:14px; color:#676767 !important; text-decoration:none;}
.huise14 a:hover{ font-size:14px;  color:#c81723 !important; text-decoration:none;}

.huise16{ font-size:16px; color:#333 !important; text-decoration:none;}
.huise16 a{ font-size:16px;  color:#333 !important; text-decoration:none;}
.huise16 a:hover{ font-size:16px; color:#c81723 !important; text-decoration:none;}

.huise816{ font-size:16px; color:#888 !important;  font-weight:normal; text-decoration:none;}
.huise816 a{ font-size:16px;  color:#888 !important; font-weight:normal;  text-decoration:none;}
.huise816 a:hover{ font-size:16px; color:#000 !important; font-weight:normal;  text-decoration:none;}

.huise8316{ font-size:16px; color:#838383 !important;  font-weight:normal; text-decoration:none;}
.huise8316 a{ font-size:16px;  color:#838383 !important; font-weight:normal;  text-decoration:none;}
.huise8316 a:hover{ font-size:16px; color:#000 !important; font-weight:normal;  text-decoration:none;}

.huise16cu{ font-size:16px; font-weight:bold; color:#333 !important; text-decoration:none;}
.huise16cu a{ font-size:16px; font-weight:bold; color:#333 !important; text-decoration:none;}
.huise16cu a:hover{ font-size:16px; font-weight:bold; color:#c81723 !important; text-decoration:none;}

.huise28{ font-size:28px; color:#333 !important; text-decoration:none;}
.huise28 a{ font-size:28px; color:#333 !important; text-decoration:none;}
.huise28 a:hover{ font-size:28px;  color:#c81723 !important; text-decoration:none;}

.shenhui14{ font-size:14px; color:#3a3a3a !important; font-weight:normal; text-decoration:none;}
.shenhui14 a{ font-size:14px; color:#3a3a3a !important; font-weight:normal; text-decoration:none;}
.shenhui14 a:hover{ font-size:14px;  color:#c81723 !important; font-weight:normal; text-decoration:none;}

.shenhui14c{ font-size:14px; color:#3a3a3a !important; font-weight:normal; text-decoration:none;}
.shenhui14c a{ font-size:14px; color:#3a3a3a !important; font-weight:normal; text-decoration:none;}
.shenhui14c a:hover{ font-size:14px;  color:#e6661d !important; font-weight:normal; text-decoration:none;}

.shenhui18{ font-size:18px; color:#3a3a3a !important; text-decoration:none;}
.shenhui18 a{ font-size:18px; color:#3a3a3a !important; text-decoration:none;}
.shenhui18 a:hover{ font-size:18px;  color:#c81723 !important; text-decoration:none;}

.bhui18{ font-size:18px; color:#7b7b7b !important; text-decoration:none;}
.bhui18 a{ font-size:18px; color:#7b7b7b !important; text-decoration:none;}
.bhui18 a:hover{ font-size:18px;  color:#c81723 !important; text-decoration:none;}

.shenhui22{ font-size:22px; color:#3a3a3a !important; text-decoration:none;}
.shenhui22 a{ font-size:22px; color:#3a3a3a !important; text-decoration:none;}
.shenhui22 a:hover{ font-size:22px;  color:#c81723 !important; text-decoration:none;}

.shenhui20{ font-size:20px; color:#3a3a3a !important; text-decoration:none;}
.shenhui20 a{ font-size:20px; color:#3a3a3a !important; text-decoration:none;}
.shenhui20 a:hover{ font-size:20px;  color:#c81723 !important; text-decoration:none;}

.shenhui16{ font-size:16px; color:#3a3a3a !important; text-decoration:none;}
.shenhui16 a{ font-size:16px; color:#3a3a3a !important; text-decoration:none;}
.shenhui16 a:hover{ font-size:16px;  color:#c81723 !important; text-decoration:none;}

.shenhui12{ font-size:12px; color:#3a3a3a !important; text-decoration:none;}
.shenhui12 a{ font-size:12px; color:#3a3a3a !important; text-decoration:none;}
.shenhui12 a:hover{ font-size:12px;  color:#c81723 !important; text-decoration:none;}

.shenhui40{ font-size:40px; color:#3a3a3a !important; text-decoration:none;}
.shenhui40 a{ font-size:40px; color:#3a3a3a !important; text-decoration:none;}
.shenhui40 a:hover{ font-size:40px;  color:#c81723 !important; text-decoration:none;}

.hong12{ font-size:12px; color:#c81723 !important; text-decoration:none;}
.hong12 a{ font-size:12px; color:#c81723 !important; text-decoration:none;}
.hong12 a:hover{ font-size:12px;  color:#ff0000 !important; text-decoration:none;}

.cheng12{ font-size:12px; color:#e6661d !important; font-weight:bold; text-decoration:none;}
.cheng12 a{ font-size:12px; color:#e6661d !important; font-weight:bold; text-decoration:none;}
.cheng12 a:hover{ font-size:12px;  color:#ef7d3c !important; font-weight:bold; text-decoration:none;}

.cheng18{ font-size:18px; color:#e6661d !important;  text-decoration:none;}
.cheng18 a{ font-size:18px; color:#e6661d !important; text-decoration:none;}
.cheng18 a:hover{ font-size:18px;  color:#ef7d3c !important; text-decoration:none;}

.cheng22{ font-size:22px; color:#e6661d !important;  text-decoration:none;}
.cheng22 a{ font-size:22px; color:#e6661d !important; text-decoration:none;}
.cheng22 a:hover{ font-size:22px;  color:#ef7d3c !important; text-decoration:none;}

.cheng24cu{ font-size:24px; color:#e6661d !important; font-weight:bold; text-decoration:none;}
.cheng24cu a{ font-size:24px; color:#e6661d !important; font-weight:bold; text-decoration:none;}
.cheng24cu a:hover{ font-size:24px;  color:#ef7d3c !important; font-weight:bold; text-decoration:none;}

.cheng36{ font-size:36px; color:#e6661d !important; text-decoration:none;}
.cheng36 a{ font-size:36px; color:#e6661d !important; text-decoration:none;}
.cheng36 a:hover{ font-size:36px;  color:#ef7d3c !important; text-decoration:none;}

.lcheng34{ font-size:34px; color:#f8981e !important; text-decoration:none;}
.lcheng34 a{ font-size:34px; color:#f8981e !important; text-decoration:none;}
.lcheng34 a:hover{ font-size:34px;  color:#ef7d3c !important; text-decoration:none;}


.shenlan12{ font-size:12px; color:#344956 !important; font-weight:bold; text-decoration:none;}
.shenlan12 a{ font-size:12px; color:#344956 !important; font-weight:bold; text-decoration:none;}
.shenlan12 a:hover{ font-size:12px;  color:#344956 !important; font-weight:bold; text-decoration:none;}

.hei16a{ font-size:16px; color:#aaa; text-decoration:none;}
.hei16a a{ font-size:16px; color:#aaa; text-decoration:none;}
.hei16a a:hover{ font-size:16px;  color:#fff !important; text-decoration:underline;}

.baiba16{ font-size:16px; color:#bababa; text-decoration:none;}
.baiba16 a{ font-size:16px; color:#bababa; text-decoration:none;}
.bai16 a:hover{ font-size:16px;  color:#c81723 !important; text-decoration:underline;}

.hei24{ font-size:24px; color:#272a2c; text-decoration:none;}
.hei24 a{ font-size:24px; color:#272a2c; text-decoration:none;}
.hei24 a:hover{ font-size:24px;  color:#e6661d !important; text-decoration:underline;}

.bai40{ font-size:40px;color:#fff !important; text-decoration:none;}
.bai40 a{ font-size:40px; color:#fff !important; text-decoration:none;}
.bai40 a:hover{ font-size:40px; color:#e6661d !important; text-decoration:none;}

.miaowu16{font-family:'方正喵呜体';font-size:16px; text-decoration:none;}  /*9.16改*/
.miaowu16 a{font-family:'方正喵呜体';font-size:16px; text-decoration:none;}
.miaowu16 a:hover{font-family:'方正喵呜体';font-size:16px; text-decoration:none;}

.miaowu18{font-family:'方正喵呜体';font-size:18px; text-decoration:none;}
.miaowu18 a{font-family:'方正喵呜体';font-size:18px; text-decoration:none;}
.miaowu18 a:hover{font-family:'方正喵呜体';font-size:18px; text-decoration:none;}

.miaowu22{font-family:'方正喵呜体';font-size:22px; text-decoration:none;}
.miaowu22 a{font-family:'方正喵呜体';font-size:22px; text-decoration:none;}
.miaowu22 a:hover{font-family:'方正喵呜体';font-size:22px; text-decoration:none;}

<!--9.23改-->
.heise24{ font-size:24px; color:#272a2c; text-decoration:none;}
.heise24 a{ font-size:24px; color:#272a2c; text-decoration:none;}